nav{
position:fixed;
top:0px;
left:0px;
bottom:0px;
width:10%;
color:#FFFFFF;
background-color:#002EB8;
z-index:9999;
}
nav a{
color:#FFFFFF;
}

.main{
position:relative;
left:+10%;
}

h1, h2, h3{
color:#3366FF;
font-family:sans-serif;
}

samp{
border-style:solid;
border-width:1px;
border-color:#aaaaaa;
margin:0px;
}